@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bar-width: 6em;
  --bar-height: 1em;
  --hamburger-gap: 0.3em;
  --foreground: antiquewhite;
  --background: #333;
  --main: #135684;
  --accent: #b23132;
  --transition-time: 250ms ease-in;
  --hamburger-margin: 2em;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
  font-family: monospace;
  background: var(--main);
  /* background-image: url(/assets/img/cool-background.png); */
  background-size: cover;
}

a {
  list-style: none;
  text-decoration: none;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 8em;
  cursor: pointer;
  transition: var(--animation-timing);
}

.menu-btn__burger {
  z-index: 6;
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--foreground);
  border-radius: 0.5em;
  transition: var(--animation-timing);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--foreground);
  border-radius: 0.5em;
  transition: var(--animation-timing);
}

.menu-btn__burger::before {
  transform: translateY(-1.6em);
}

.menu-btn__burger::after {
  transform: translateY(1.6em);
}
/* Hamburger menu animation*/
.menu-btn.open .menu-btn__burger {
  transform: translateX(-5em);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3.5em, -3.5em);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3.5em, 3.5em);
}

.sidebar {
  position: absolute;
  transition: var(--animation-timing);
  transform: translateX(-100%);
  top: 0;
  width: 100%;
  min-height: 100vh;
}
.sidebar.open {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: var(--main);
}

.sidebar ul {
  margin-top: 10em;
}

.sidebar li {
  margin-left: 2em;
  margin-bottom: 2em;
  list-style: none;
}

.sidebar a {
  position: relative;
  font-size: 2em;
  text-decoration: none;
  color: var(--foreground);
}
.sidebar a:hover {
  position: relative;
  text-decoration: none;
  color: var(--accent);
}

/* Styles for the header section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  height: 5em;
  background-color: var(--foreground);
}
.header li {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-right: 2em;
  font-weight: 700;
}

.logo {
  position: relative;
  top: 50%;
  margin-right: 3em;
  border: 3px solid transparent;
  box-shadow: 0 0 0 3px var(--accent);
}

/* Styles for the hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.tech-title {
  order: 2;
  color: var(--foreground);
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb,
    5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
    7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;
    color: var(--foreground);
    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1,
        1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}

.hero-anim {
  filter: drop-shadow(0.1em 0.1em 0.05em #000);
}
/* Contact section */
.contact {
  padding: 5em 0;
}

.contact label,
.contact input,
.contact textarea,
.contact h4 {
  display: block;
  margin: 0.1em auto;
  min-width: 20%;
  font-size: 1.5em;
  resize: none;
  text-align: left;
}

.contact label {
  padding-top: 1em;
  color: var(--foreground);
  width: 20%;
}

.contact textarea {
  width:15em;
  height: 10em;
}

.contact .alert {
  padding: 2em 0;
  text-align: center;
}

.contact input {
  padding: 0.2em 0.1em;
}

.contact button {
  background: var(--foreground);
  box-shadow: 0 0 0 3px var(--background);
  display: block;
  margin: 0.1em auto;
  font-size: 1.5em;
  resize: none;
}

.contact button:hover {
  letter-spacing: 0.5em;
  padding-left: 0.8em;
  color: var(--foreground);
  box-shadow: 0 0 0 3px var(--foreground);
}

h2 {
  color: antiquewhite;
  font-family: monospace;
  line-height: 200%;
  letter-spacing: 0.1em;
  margin: 0 auto;
  width: 80%;
}

a {
  color: inherit;
}

.Attribution {
  color: transparent;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 25em;
  width: 15em;
  font-size: 1.5em;
  color: var(--foreground);
  border-radius: 0.6em;
  padding: 1em;
  /* margin: 2em; */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3em -1em rgb(86, 86, 86);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
  box-shadow: 0 0 6em -1em rgb(34, 34, 34);
}

.card h1 {
  color: var(--foreground);
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: "Open Sans";
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--main);
  color: black;
  /* transition: var(--transition-time); */
}

button {
  z-index: 10;
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
  border: none;
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
  background: #135684;
  color: var(--foreground);
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
  color: var(--accent);
  background: var(--foreground);
  border-radius: 0 0 0 1em;
  box-shadow: 0 0 6em -1em rgb(34, 34, 34);
}

.card:before,
.card:after {
  transition: 500ms 0ms ease-in;
  content: "";
  transform: scale(0);
  transform-origin: bottom;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
}

.card:before {
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgba(0, 0, 0, 0.8);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--foreground);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card details {
  max-height: 0;
  overflow: hidden;
  color: var(--foreground);
  font-size: 0.8em;
  margin-bottom: 2em;
  transition: 500ms 0ms ease-in;
}

.card:hover details {
  max-height: 100%;
}

.card summary:active {
  transition: 500ms 0 ease-in;
}

footer {
  max-width: 1920px;
  font-size: 1.3em;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 5em 0;
  position: relative;
  bottom: -3em;
}

footer.index {
  position: absolute;
  bottom: 0;
}

footer.details {
  position: absolute;
  bottom: 0;
}

footer h3,
footer p {
  margin-right: 4em;
  color: var(--foreground);
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-content {
  display: flex;
  margin: 1em;
}

.footer-content a {
  color: var(--foreground);
  text-decoration: none;
}

.footer-content a:hover {
  color: var(--accent);
}

.social_icons {
  width: 3em;
  margin-right: 2em;
}

.social_icons:hover {
  scale: 110%;
  cursor: pointer;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .title-wrapper {
    margin-top: 3em;
  }

  .about {
    margin-top: 3em;
  }

  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .hero-text {
    margin: 8em auto;
  }

  .hero-anim {
    display: none;
  }

  footer{
    display: none;
  }  
}

@media screen and (max-width: 995px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    text-align: center;
  }

  .header {
    display: none;
  }
  .hamburger {
    z-index: 900;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .hero-text {
    font-size: 0.7em;
  }

  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 350px) {
  .hero-text {
    font-size: 0.5em;
  }

  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }

  .card details {
    font-size: 0.7em;
  }
}
