@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bar-width: 6em;
  --bar-height: 1em;
  --hamburger-gap: 0.3em;
  --foreground: antiquewhite;
  --background: #333;
  --accentColor: rgb(108, 231, 255);
  --main: #135684;
  --accent: crimson;
  --transition-time: 250ms ease-in;
  --hamburger-margin: 2em;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans";
  background: var(--main);
}

a {
  list-style: none;
  text-decoration: none;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 8em;
  cursor: pointer;
  transition: var(--animation-timing);
}

.menu-btn__burger {
  z-index: 6;
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--foreground);
  border-radius: 0.5em;
  transition: var(--animation-timing);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--foreground);
  border-radius: 0.5em;
  transition: var(--animation-timing);
}

.menu-btn__burger::before {
  transform: translateY(-1.6em);
}

.menu-btn__burger::after {
  transform: translateY(1.6em);
}
/* Hamburger menu animation*/
.menu-btn.open .menu-btn__burger {
  transform: translateX(-5em);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3.5em, -3.5em);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3.5em, 3.5em);
}

.sidebar {
  position: absolute;
  transition: var(--animation-timing);
  transform: translateX(-100%);
  top: 0;
  width: 100%;
  min-height: 100vh;
}
.sidebar.open {
  transform: translateX(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: var(--background);
}

.sidebar ul {
  margin-top: 10em;
}

.sidebar li {
  margin-left: 2em;
  margin-bottom: 2em;
  list-style: none;
}
.sidebar span {
  font-size: 1.2em;
  color: var(--accent);
}
.sidebar a {
  position: relative;
  font-size: 2em;
  text-decoration: none;
  color: var(--foreground);
}
.sidebar a:hover {
  position: relative;
  text-decoration: none;
  color: var(--accentColor);
}

/* Styles for the header section */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  background-color: #fff;
  height: 5em;
}
.header li{
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-right: 2em;
  font-weight: 700;
}

.header img {
  width: 100px;
  position: relative;
  left: -50%;
  top: 65%;
}
/* Styles for the hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  /* visibility: hidden; */
  font-size: 4em;
  width: 600px;
  padding-left: 2em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-image: url(/assets/img/favicon.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0.0em 0.0em 0.01em #000);
}

.hero-anim {
  filter: drop-shadow(0.1em 0.1em 0.05em #000);
}

h1 {
  color: #fff;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 25em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 0.6em;
  padding: 1em;
  /* margin: 2em; */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3em -1em rgb(86, 86, 86);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
  box-shadow: 0 0 6em -1em rgb(34, 34, 34);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: "Open Sans";
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--main);
  color: black;
}

button {
  z-index: 10;
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
  border: none;
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
  background: #135684;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
  color: var(--accent);
  background: white;
  border-radius: 0 0 0 1em;
  box-shadow: 0 0 6em -1em rgb(34, 34, 34);
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: bottom;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
}

.card:before {
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgba(0, 0, 0, 0.8);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: white;
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card details {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-time);
  color: white;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.card:hover details {
  max-height: 100%;
}

.lottie,
* {
  color: #135684;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }

  .hamburger {
    z-index: 900;
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }

  .card details {
    font-size: 0.7em;
  }
}
